@page "/"

<PageTitle>Index</PageTitle>

<h1>Pad IO Sandbox!</h1>

To test PadIO click on Draw...<br/><br/>

FrameRate set to 60fps.<br/>
Keyboard down + mouse left click events being captured...<br/>

