<img 
    src="svg/apple.svg"
    style="display: none"
    @onload="_image.ImageLoaded"
    @ref="_image.reference" />

<div 
    class="canvasWrapper"
    style="
        width: @_canvas.wrapperDimsToString().Item1; 
        height: @_canvas.wrapperDimsToString().Item2;
        margin-top: 60px;
        "
    tabindex="0"
    @onkeydown="_keyboard.CanvasEvent"
    @onclick="_mouse.CanvasLeftClick"
    @ref="_canvas._wrapperReference">
    <BECanvas 
        Width="@_canvas._canvasDims.width"
        Height="@_canvas._canvasDims.height"
        @ref="_canvas._canvasReference">
    </BECanvas>
</div>
