<img 
    src="svg/apple.svg"
    style="display: none"
    @onload="_image.ImageLoaded"
    @ref="_image.reference" />

<div class="canvasWrapper"
     style="width: @_wrapperDims.Item1; height: @_wrapperDims.Item2"
     tabindex="0"
     @onkeydown="_keyboard.CanvasEvent"
     @onclick="_mouse.CanvasLeftClick"
     @ref="_wrapperReference">
    <BECanvas Width="@_canvasDims.Item1" Height="@_canvasDims.Item2" @ref="_canvasReference"></BECanvas>
</div>
